<%= form_for @quote do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='row collapse'>
    <div class='small-3 columns'>
    <%= f.label :content, 'Quote' %>
    </div>
  </div>
  <div class='row'>
    <div class='small-9 columns'>
    <%= f.text_area :content %>
    </div>
  </div>

  <div class='row collapse'>
    <div class='small-3 columns'>
      <%= f.label :author, 'Launcher' %>
    </div>
  </div>
  <div class='row'>
    <div class='small-3 columns'>
      <%= f.text_field :author %>
    </div>
  </div>

  <div class='row collapse'>
    <div class='small-3 columns'>
      <%= f.label :cohort, 'Cohort' %>
    </div>
  </div>
  <div class='row'>
    <div class='small-3 columns'>
      <%= f.text_field :cohort %>
    </div>
  </div>

  <div class='row collapse'>
    <div class='small-3 columns'>
      <%= f.submit %>
    </div>
  </div>


<% end %>
